<h1>Tus preguntas</h1>
<% if @questions_user %>
  <% @questions_user.each do |question| %>
    <div class="box">
      <p>Pregunta:</p>
      <p><%= question.question %></p>
      <hr>
      <p>Respuestas</p>

      <% answers = Answer.where(question_id: question.id) %>

        <% answers.each do |ans| %>
        <p><%= User.find(ans.user_id).name %> respondio:</p>
        <li><%= ans.answer %></li>
        <a class="btn" href="likle">Like</a>
        <p>Likes: </p>
      <p>Likes: <%= Answer.find(ans.user_id).votes %></p>

      <% end %>

      <a class="btn" href="/answer_to/<%= question.id %>">Responder</a>
    </div>
    <!--Poner aqui todas las respuestas-->
    <hr class="style">
    <!--Poner lo que deje en el controller -->
  <% end %>
<% end %>

<a class="btn" href="/logeado">Regresar</a>